streamlit
python-dotenv
PyPDF2
langchain
langchain-text-splitters
langchain-community
faiss-cpu
langchain-classic
langchain-groq
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
